@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


* {
    box-sizing: border-box;
}

body {
    font-family: 'Abel';
}

html {
    scroll-behavior: smooth;
}

header {
    background-image: url('../img/bg.png');
    width: 100%;
    padding-bottom: 10%;
    background-size: 105%;
    background-repeat: no-repeat;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: rebeccapurple !important;
}

nav i {
    color: red !important;
}

nav {
    background-color: rgb(255, 255, 255, 0) !important;
    position: sticky;
    /* text-align: center; */
    top: 0;
    border: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.nav-class {
    font-size: 20px;
    text-align: center;
}


.container {
    padding-top: 5%;
}

.kartu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 3rem;
    margin: 0 0 3rem 0;
    float: center;

}

.konfirm {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(218, 3, 3, 0.6)),
        url('../img/pexels-markus-spiske-3970330.jpg');
    background-size: cover;
    width: 100%;
    height: 200px;
}

.sembuh {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(32, 219, 15, 0.6)),
        url('../img/pexels-ketut-subiyanto-4429561.jpg');
    background-size: cover;
    width: 100%;
    height: 200px;
}

.meninggal {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(131, 131, 131, 0.6)),
        url('../img/pexels-gratisography-2009 (1).jpg');
    background-size: cover;
    width: 100%;
    height: 200px;
}

.kartu span {
    font-weight: bold;
    color: white;
    font-size: 2em;
}

.kartu p {
    color: white;
    font-size: 1;
}

.main-data {
    margin-top: 0;
    margin-bottom: 5%;
}

.section-chart {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 3rem;
    margin: 0 0 3rem 0;
    float: center;
}

.section-chart span {
    font-weight: bold;
    color: red;
    font-size: 2em;
}

.info {
    width: 100%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 3rem; */
    text-align: center;
}

.info h5 {
    font-weight: bold;
}

@media screen and (max-width: 1000px) {

    header {
        width: 100%;
    }

    .kartu {
        float: center;
        width: 100%;

    }

    nav {
        background-color: rgb(255, 255, 255, 0.5) !important;
        position: sticky;
        /* text-align: center; */
        top: 0;
        border: 0 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
}

footer {
    padding: 20px;
    color: white;
    background-color: red;
    text-align: center;
    font-weight: bold;
}