@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


body {
    background-image: url('../img/pexels-markus-spiske-3970330.jpg');
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

/*  */

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: rebeccapurple !important;
}

nav i {
    /* display: block;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none; */
    color: red !important;
}

nav {
    background-color: white !important;
    padding: 5px;
    position: sticky;
    text-align: center;
    top: 0;
}

.nav-class {
    font-size: 20px;
    text-align: center;
}

.header-intro {
    margin-top: 0;
}

.container {
    padding-top: 10%;
}

.kartu {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 3rem;
    margin: 0 0 3rem 0;
}

.konfirm {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(218, 3, 3, 0.6)),
        url('../img/pexels-markus-spiske-3970330.jpg');
    background-size: cover;
    width: 300px;
    height: 200px;
    float: left;

}

.sembuh {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(32, 219, 15, 0.6)),
        url('../img/pexels-ketut-subiyanto-4429561.jpg');
    background-size: cover;
    width: 300px;
    height: 200px;
    float: left;

}

.meninggal {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(131, 131, 131, 0.6)),
        url('../img/pexels-gratisography-2009 (1).jpg');
    background-size: cover;
    width: 300px;
    height: 200px;
    float: left;

}

.kartu span {
    font-weight: bold;
    color: white;
    font-size: 2em;
}

.kartu p {
    color: white;
    font-size: 1;
}